body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

* {
    box-sizing: border-box;
}

/* Shared Between Sections */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    border-bottom: 1px solid black;
}

h1 {
    font-size: 52px;
    font-weight: 500;
    max-width: 450px;
    line-height: 54px;
    color: #C3F53C;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

p {
    font-size: 18px;
    font-weight: 500;
    max-width: 450px;
}

/* Container Background Colours */

.dark-green-background {
    background-color: #004022;
}

.green-gradient-background {
    background: linear-gradient(162deg, rgba(6, 64, 19, 0.7) 0%, rgb(116, 254, 36) 79%, rgb(126, 255, 42) 100%), rgb(0, 200, 5);
}

.pink-gradient-background {
    background: linear-gradient(90deg, rgb(255, 183, 83) 0%, rgb(255, 173, 175) 85%, rgba(217, 141, 156, 0.7) 100%), rgb(240, 170, 165);
}

.purple-gradient-background {
    background: linear-gradient(135deg, rgba(42, 28, 78, 0.7) 0%, rgb(151, 109, 251) 78%, rgb(157, 109, 255) 100%), rgb(153, 122, 236);
}

.black-background {
    background-color: black;
}

/* Header - Nav Bar */

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 40px;
    gap: 20px;
    border-bottom: 2px solid black;
}

.logotype {
    width: 175px;
    height: auto;
}

/* Nav Bar Links */

.nav-links, a {
    display: flex;
    align-items: center;
    gap: 40px;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    color: black;
}

.nav-links, a:hover {
    color: #0BDA62;
}

/* Hero */

.hero-wrapper {
    display: flex;
    align-items: center;
    gap: 200px;
}

.home-image {
    width: 285px;
    height: auto;
}

.hero-paragraph {
    color: white;
}

/* Hero - Get Early Access Button */

.early-access-button {
    padding: 14px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    width: 450px;
    background-color: #C3F53C;
    margin-top: 15px;
    color: black;
}

.early-access-button:hover {
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

/* Gateway to DeFi - Second Section */

.gateway-defi-wrapper {
    display: flex;
    align-items: center;
    gap: 200px;
}

.gateway-defi-left {
    transform: rotateX(17deg) rotateY(-20deg) rotateZ(-6deg);
}

.account-image {
    width: 240px;
    height: auto;
}

/* Debit Card - Third Section */

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    height: 640px;
}

.card-right {
    transform: rotateX(-17deg) rotateY(-20deg) rotateZ(6deg);
}

.card-image {
    width: 300px;
    height: auto;
}

/* Freely Cash In & Out - Fourth Section */

.cash-wrapper {
    display: flex;
    align-items: center;
    gap: 200px;
}

.deposit-image {
    width: 240px;
    height: auto;
}

/* Account Security - Fifth Section */

.security-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.security-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.security-header-text {
    font-size: 54px;
    text-align: center;
    font-weight: 500;
    line-height: 44px;
}

/* Account Security - Images + Subtext */

.security-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 675px;
    text-align: center;
    gap: 80px;
}

.image-subtext {
    font-weight: 500;
    margin-top: 20px;
    color: white;
    max-width: 286px;
}

/* Account Security - Learn More Button */

.learn-more-button {
    padding: 14px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: transparent;
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
    width: 350px;
    color: white;
}

.learn-more-button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: white;
    color: black;

    font-size: 16px;
    font-weight: 500;
}